/* Pantallas pequeñas (móviles) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr 20%;
    height: 100vh;
}


header{
    grid-area: header;
    background-color: red;
}

nav{
    grid-area: nav;
    background-color: orange;
}

main{
    grid-area: main;
    background-color: peru;
}

footer{
    grid-area: footer;
    background-color: purple;
}

/* Pantallas Pequeñas (Móviles) */
@media screen and (min-width: 310px) and (max-width: 576px) {
    body {
        grid-template-areas: 
        "header" 
        "nav" 
        "main" 
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10% 15% auto 10%;
    }
}

/* Pantallas Medianas (Tabletas) */

@media screen and (min-width: 577px) and (max-width: 768px) {
    /* Estilos para pantallas medianas */
    body {
        grid-template-areas: 
        "header header"
        "nav main"
        "nav main"
        "footer main";
        grid-template-columns: 1fr 80%;
        grid-template-rows: 10% 20% auto 10%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    /* Estilos para pantallas medianas */
    body {
        grid-template-areas: 
        "header header header"
        "nav main main"
        "nav main main"
        "footer main main";
        grid-template-columns: 1fr 80%;
        grid-template-rows: 10% 20% auto 10%;
    }
}

/* Pantallas Grandes (Escritorio) */ 
@media screen and (min-width: 993px) and (max-width: 1199px){
    /* Estilos para pantallas grandes */
    body{
        grid-template-areas: 
        "header header header"
        "nav main main"
        "nav main main"
        "footer main main";
        grid-template-columns: 1fr 80%;
        grid-template-rows: 10% 20% auto 10%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px){
    /* Estilos para pantallas grandes */
    body{
        grid-template-areas: 
        "header header header"
        "nav main main"
        "nav main main"
        "footer main main";
        grid-template-columns: 1fr 80%;
        grid-template-rows: 10% 20% auto 10%;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1600px){
    /* Estilos para pantallas grandes */
    body{
        grid-template-areas: 
        "header header header header"
        "nav main main main"
        "nav main main main"
        "footer main main main";
        grid-template-columns: 1fr 80%;
        grid-template-rows: 10% 20% auto 10%;
    }
}

/*grid-template-rows: calc(100% - 80px) 80px*/