/* Pantallas pequeñas (móviles) */

body{
    background-color: black;
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr 20%;
}

.container{

}

header{
    grid-area: header;
    background-color: red;
}

nav{
    grid-area: nav;
    background-color: orange;
}

main{
    grid-area: main;
    background-color: peru;
}

footer{
    grid-area: footer;
    background-color: purple;
}

/* Pantallas Pequeñas (Móviles) */
@media screen and (max-width: 576px) {
    body {
        background-color: aqua;
    }
}

/* Pantallas Medianas (Tabletas) */

@media screen and (min-width: 577px) and (max-width: 1023px) {
    /* Estilos para pantallas medianas */
    body {
        background-color: blueviolet;
    }
}

/* Pantallas Grandes (Escritorio) */ 
@media screen and (min-width: 1024px){
    /* Estilos para pantallas grandes */
    body{
        background-color: blue;
    }
}

/*grid-template-rows: calc(100% - 80px) 80px*/